<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>>
      <toc
            file="tocconcepts.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="eu.geclipse.doc.user.gEclipseCheatSheets"
            name="g-Eclipse"/>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="false"
            contentFile="cheatsheets/CreatingANewGridProject.xml"
            id="eu.geclipse.doc.user.creatingAGridProject"
            name="Creating a new Grid Project">
            <description>
               This cheat sheet will show you how to create a new g-Eclipse Grid Project.
            </description>
       </cheatsheet>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="false"
            contentFile="cheatsheets/DeclaringAVO.xml"
            id="eu.geclipse.doc.user.declaringAVO"
            name="Declaring a Virtual Organisation">
         <description>
            This cheat sheet will show you how to declare a Virtual Organisation in g-Eclipse.
         </description>
      </cheatsheet>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="false"
            contentFile="cheatsheets/CreatingAuthenticationToken.xml"
            id="eu.geclipse.doc.user.creatingAuthenticationToken"
            listener="eu.geclipse.ui.UIAuthTokenProvider"
            name="Creating Authentication Token">
         <description>
            This cheat sheet will show you how to create an Authentication Token.
         </description>
      </cheatsheet>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="false"
            contentFile="cheatsheets/DownloadingCAcerts.xml"
            id="eu.geclipse.doc.user.downloadingCAcertificates"
            name="Downloading CA Certificates">
         <description>
            This cheat sheet will show you how install CA certificates.
         </description>
      </cheatsheet>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="false"
            contentFile="cheatsheets/CreatingAJob.xml"
            id="eu.geclipse.doc.user.creatingAJob"
            name="Creating a Job">
         <description>
            This cheat sheet will show you how create a job.
         </description>
      </cheatsheet>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="true"
            contentFile="cheatsheets/GettingStartedWithgEclipse.xml"
            id="eu.geclipse.doc.user.gettingStarted"
            name="Getting Started With g-Eclipse">
         <description>
            This cheat sheet will guide you through the set up process for using g-Eclipse.
         </description>
      </cheatsheet>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="false"
            contentFile="cheatsheets/SubmittingAJob.xml"
            id="eu.geclipse.doc.user.submittingAJob"
            name="Submitting a Job">
         <description>
            This cheat sheet will show you how submit a job.
         </description>
      </cheatsheet>
      <cheatsheet
            category="eu.geclipse.doc.user.gEclipseCheatSheets"
            composite="false"
            contentFile="cheatsheets/CopyingFiles.xml"
            id="eu.geclipse.doc.user.copyingFiles"
            name="Copying files between local machine and grid">
         <description>
         	This cheat sheet will show you how to copy files between your local machine and storage on the grid.
         </description>
      </cheatsheet>
   </extension>
   <extension point="org.eclipse.ui.intro.configExtension">
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="$nl$/intro/overviewEx1.xml" />
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="$nl$/intro/whatsnewEx1.xml" />
      <configExtension configId="org.eclipse.ui.intro.universalConfig"
                       content="$nl$/intro/tutorialsEx1.xml" />
   </extension>
</plugin>
