<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="authenticationTokenManagement" name="%extension-point.authenticationTokenManagement" schema="schema/authenticationTokenManagement.exsd"/>
   <extension-point id="connectionManagement" name="%extension-point.connectionManagement" schema="schema/connectionManagement.exsd"/>
   <extension-point id="gridElementCreator" name="%extension-point.gridElementCreator" schema="schema/gridElementCreator.exsd"/>
   <extension-point id="problemProvider" name="%extension-point.problemProvider" schema="schema/problemProvider.exsd"/>
   <extension-point id="eu.geclipse.core.gridJobStatusServiceManager" name="GridJobStatusServiceManager" schema="schema/eu.geclipse.core.gridJobStatusServiceManager.exsd"/>
   <extension
         point="eu.geclipse.core.connectionManagement"
         id="eu.geclipse.core.connectionProtocol.gridftp">
      <connectionProtocol
            class="org.eclipse.core.filesystem.provider.FileSystem"
            id="eu.geclipse.core.connectionProtocol.gridftp"
            name="Grid FTP"
            wizardID="eu.geclipse.core.connectionProtocol.gridftp"/>
   </extension>
   <extension
         id="eu.geclipse.core.internal.PreferenceInitializer"
         name="%extension.preferenceInitializer"
         point="org.eclipse.core.runtime.preferences">
      <initializer class="eu.geclipse.core.internal.PreferenceInitializer"/>
   </extension>
   <extension
         id="eu.geclipse.core.connectionProtocol.local"
         point="eu.geclipse.core.connectionManagement">
      <connectionProtocol
            class="org.eclipse.core.filesystem.provider.FileSystem"
            id="eu.geclipse.core.connectionProtocol.local"
            name="local"
            wizardID="eu.geclipse.core.connectionProtocol.local"/>
   </extension>
   <extension
         id="eu.geclipse.core.authTokenProvider"
         name="%extension.coreAuthTokenProvider"
         point="eu.geclipse.core.authenticationTokenManagement">
      <provider
            class="eu.geclipse.core.auth.CoreAuthTokenProvider"
            priority="0"/>
   </extension>
   <extension
         id="eu.geclipse.core.project.GridProjectNature"
         name="%extension.gridProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="eu.geclipse.core.project.GridProjectNature"/>
      </runtime>
   </extension>
   <extension
         id="eu.geclipse.core.project.GridProjectBuilder"
         name="%extension.gridProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            >
         <run class="eu.geclipse.core.project.GridProjectBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="eu.geclipse.core.project.GridProjectScope"
            name="eu.geclipse.core.projectScope"/>
   </extension>
   <extension
         point="eu.geclipse.core.problemProvider">
      <provider class="eu.geclipse.core.CoreProblems"/>
      <provider class="eu.geclipse.core.auth.AuthenticationProblems"/>
      <provider class="eu.geclipse.core.security.GridGSSProblems"/>
      <provider class="eu.geclipse.core.model.GridModelProblems"/>
   </extension>
</plugin>
