<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="gridElementCreator" name="%extension-point.gridElementCreator" schema="schema/gridElementCreator.exsd"/>
   <extension-point id="problemProvider" name="%extension-point.problemProvider" schema="schema/problemProvider.exsd"/>
   <extension-point id="eu.geclipse.core.gridJobStatusServiceManager" name="GridJobStatusServiceManager" schema="schema/eu.geclipse.core.gridJobStatusServiceManager.exsd"/>
   <extension-point id="authTokens" name="Authentication Tokens" schema="schema/authTokens.exsd"/>
   <extension-point id="authTokenProvider" name="Authentication Token Provider" schema="schema/authTokenProvider.exsd"/>
   <extension-point id="applicationDeployment" name="Application Deployment" schema="schema/applicationDeployment.exsd"/>
   <extension-point id="caCertificateLoader" name="CA Certificate Loader" schema="schema/caCertificateLoader.exsd"/>
   <extension-point id="gridProjectFolder" name="Grid Project Folder" schema="schema/gridProjectFolder.exsd"/>
   <extension-point id="voLoader" name="VO Loader" schema="schema/voLoader.exsd"/>
   <extension-point id="problemReporting" name="Problem Reporting" schema="schema/problemReporting.exsd"/>
   <extension
         id="eu.geclipse.core.internal.PreferenceInitializer"
         name="%extension.preferenceInitializer"
         point="org.eclipse.core.runtime.preferences">
      <initializer class="eu.geclipse.core.internal.PreferenceInitializer"/>
   </extension>
   <extension
         id="eu.geclipse.core.project.GridProjectNature"
         name="%extension.gridProjectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="eu.geclipse.core.project.GridProjectNature"/>
      </runtime>
   </extension>
   <extension
         id="eu.geclipse.core.project.GridProjectBuilder"
         name="%extension.gridProjectBuilder"
         point="org.eclipse.core.resources.builders">
      <builder
            >
         <run class="eu.geclipse.core.project.GridProjectBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <scope
            class="eu.geclipse.core.project.GridProjectScope"
            name="eu.geclipse.core.projectScope"/>
   </extension>
   <extension
         point="eu.geclipse.core.problemProvider">
      <provider class="eu.geclipse.core.CoreProblems"/>
      <provider class="eu.geclipse.core.auth.AuthenticationProblems"/>
      <provider class="eu.geclipse.core.security.GridGSSProblems"/>
      <provider class="eu.geclipse.core.model.GridModelProblems"/>
      <provider class="eu.geclipse.core.util.tar.TarProblems"/>
   </extension>
   <extension
         point="eu.geclipse.core.authTokenProvider">
      <provider
            class="eu.geclipse.core.auth.CoreAuthTokenProvider"
            priority="0">
      </provider>
   </extension>
   <extension
         point="eu.geclipse.core.caCertificateLoader">
      <loader
            class="eu.geclipse.core.internal.auth.EUGridPMACertificateLoader"
            fromLocal="true"
            fromRemote="true"
            name="European Policy Management Authority for Grid Authentication">
      </loader>
      <loader
            class="eu.geclipse.core.internal.auth.PEMCertificateLoader"
            fromLocal="true"
            fromRemote="false"
            name="PEM Based Certificate Loader">
      </loader>
   </extension>
   <extension
         point="eu.geclipse.core.gridElementCreator">
      <creator
            class="eu.geclipse.core.model.impl.GenericVoCreator"
            name="Generic VO"
            wizard="eu.geclipse.ui.wizards.GenericVoWizard">
         <source
               class="org.eclipse.core.filesystem.IFileStore">
         </source>
         <target
               class="eu.geclipse.core.model.impl.GenericVirtualOrganization"
               name="Generic Virtual Organization">
         </target>
      </creator>
   </extension>
   <extension
         point="eu.geclipse.core.problemReporting">
      <problem
            description="Failed to establish internet connection"
            id="eu.geclipse.core.problem.connectionFailed"
            mailto="contact@geclipse.eu"
            text="Unable to establish connection">
         <solutionReference
               referenceID="eu.geclipse.core.solution.checkInternetConnection">
         </solutionReference>
         <solutionReference
               referenceID="eu.geclipse.core.solution.checkProxySettings">
         </solutionReference>
      </problem>
      <problem
            description="A timeout has occurred on a socket read or accept"
            id="eu.geclipse.core.problem.connectionTimeout"
            mailto="contact@geclipse.eu">
         <solutionReference
               referenceID="eu.geclipse.core.solution.serverDown">
         </solutionReference>
         <solutionReference
               referenceID="eu.geclipse.core.solution.checkTimeoutSettings">
         </solutionReference>
      </problem>
      <problem
            description="Unspecified IO problem"
            id="eu.geclipse.core.problem.unspecifiedIO"
            mailto="contact@geclipse.eu">
      </problem>
      <solution
            description="Check your internet connection"
            id="eu.geclipse.core.solution.checkInternetConnection"
            text="Check your internet connection">
      </solution>
      <solution
            description="Check your proxy settings"
            id="eu.geclipse.core.solution.checkProxySettings"
            text="Check your proxy settings">
         <showPreferencePageTag
               preferencePageID="org.eclipse.ui.net.NetPreferences">
         </showPreferencePageTag>
      </solution>
      <solution
            description="Set your connection timeout settings to a higher value"
            id="eu.geclipse.core.solution.checkTimeoutSettings">
      </solution>
      <solution
            description="The server may be down. Contact the administrator."
            id="eu.geclipse.core.solution.serverDown">
      </solution>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="Unspecified IO problem"
            id="eu.geclipse.problem.io.unspecified"
            mailto="contact@geclipse.eu">
      </problem>
      <problem
            description="Failed to establish internet connection"
            id="eu.geclipse.problem.net.connectionFailed"
            mailto="contact@geclipse.eu">
         <reference
               referenceID="eu.geclipse.solution.net.checkInternetConnection">
         </reference>
         <reference
               referenceID="eu.geclipse.solution.net.checkProxySettings">
         </reference>
      </problem>
      <problem
            description="A timeout has occurred on a socket read or accept"
            id="eu.geclipse.problem.net.connectionTimeout"
            mailto="contact@geclipse.eu">
         <reference
               referenceID="eu.geclipse.solution.net.serverDown">
         </reference>
         <reference
               referenceID="eu.geclipse.solution.net.checkTimeoutSettings">
         </reference>
      </problem>
      <solution
            description="Check your internet connection"
            id="eu.geclipse.solution.net.checkInternetConnection">
      </solution>
      <solution
            description="Check your proxy settings"
            id="eu.geclipse.solution.net.checkProxySettings">
         <preferenceTag
               pageID="org.eclipse.ui.net.NetPreferences">
         </preferenceTag>
      </solution>
      <solution
            description="Set your connection timeout settings to a higher value"
            id="eu.geclipse.solution.net.checkTimeoutSettings">
      </solution>
      <solution
            description="The server may be down, contact the administrator"
            id="eu.geclipse.solution.net.serverDown">
      </solution>
   </extension>
</plugin>
