<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2007/01/25 15:30:16 emstamou Exp $
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "eu.geclipse.jsdl.presentation.JsdlModelWizardID"
      name = "%_UI_JsdlModelWizard_label"
      class = "eu.geclipse.jsdl.presentation.JsdlModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/JsdlModelFile.gif">
      <description>%_UI_JsdlModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "eu.geclipse.jsdl.presentation.JsdlEditorID"
        name = "%_UI_JsdlEditor_label"
        icon = "icons/full/obj16/JsdlModelFile.gif"
        extensions = "jsdl"
        class = "eu.geclipse.jsdl.presentation.JsdlEditor" 
        contributorClass="eu.geclipse.jsdl.presentation.JsdlActionBarContributor" >
    </editor>
  </extension>    

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.emf.ecore.Wizard.category.ID"
      name="%_UI_Wizard_category">
    </category>
    <wizard
      id = "eu.geclipse.jsdl.posix.presentation.PosixModelWizardID"
      name = "%_UI_PosixModelWizard_label"
      class = "eu.geclipse.jsdl.posix.presentation.PosixModelWizard"
      category = "org.eclipse.emf.ecore.Wizard.category.ID"
      icon = "icons/full/obj16/PosixModelFile.gif">
      <description>%_UI_PosixModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "eu.geclipse.jsdl.posix.presentation.PosixEditorID"
        name = "%_UI_PosixEditor_label"
        icon = "icons/full/obj16/PosixModelFile.gif"
        extensions = "posix"
        class = "eu.geclipse.jsdl.posix.presentation.PosixEditor" 
        contributorClass="eu.geclipse.jsdl.posix.presentation.PosixActionBarContributor" >
    </editor>
  </extension>    
</plugin>
