<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="eu.geclipse.core.authTokens">
      <token
            description="eu.geclipse.aws.s3.auth.AwsCredentialDescription"
            id="eu.geclipse.amazon.auth.credential"
            name="AWS Credential"
            wizard="eu.geclipse.aws.ui.wizards.AwsCredentialWizard">
      </token>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="s3">
         <run
               class="eu.geclipse.aws.s3.internal.s3.S3FileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="Failed to create the Rest-Service to access S3"
            id="eu.geclipse.aws.problem.service.s3.rest.creationFailed">
      </problem>
      <problem
            description="Error while listing children"
            id="eu.geclipse.aws.problem.s3.listFailed">
      </problem>
      <problem
            description="Error while opening object for reading"
            id="eu.geclipse.aws.problem.s3.inputFailed">
      </problem>
      <problem
            description="Error while loading an object"
            id="eu.geclipse.aws.problem.s3.objectLoadFailed">
      </problem>
      <problem
            description="Error while opening object for writing"
            id="eu.geclipse.aws.problem.s3.outputFailed">
      </problem>
      <problem
            description="Error while deleting object"
            id="eu.geclipse.aws.problem.s3.deleteFailed">
      </problem>
      <problem
            description="Bucket creation failed. Note that bucket names have to be unique. Therefore it is recommended to prefix them with the access key ID."
            id="eu.geclipse.aws.problem.s3.bucketCreateFailed">
      </problem>
      <problem
            description="Bucket creation failed. Note that buckets can not be created within other buckets."
            id="eu.geclipse.aws.problem.s3.bucketInBucketFailed">
      </problem>
   </extension>

</plugin>
