<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="eu.geclipse.ui.newVoWizards">
      <wizard
            class="eu.geclipse.aws.ui.wizards.AWSVoWizard"
            id="eu.geclipse.aws.ui.wizard.awsVoWizard"
            name="AWS VO"
            icon="icons/obj16/vo.gif">
      </wizard>
   </extension>
   <extension
         point="eu.geclipse.ui.authTokenUI">
      <wizard
            class="eu.geclipse.aws.ui.wizards.AWSAuthTokenWizard"
            icon="icons/obj16/proxy.gif"
            id="eu.geclipse.aws.ui.wizards.awsAuthTokenWizard"
            name="AWS Auth Token">
      </wizard>
      <factory
            class="eu.geclipse.aws.ui.dialogs.AWSAuthTokenUIFactory"
            id="eu.geclipse.aws.ui.awsAuthTokenUIFactory"
            name="AWS Auth Token UI Factory">
      </factory>
   </extension>
</plugin>
