<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2007/01/25 15:26:30 emstamou Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://eu/geclipse/jsdl" 
       class = "eu.geclipse.jsdl.JsdlPackage"
       genModel = "model/jsdl.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="jsdl" 
       class="eu.geclipse.jsdl.util.JsdlResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://eu/geclipse/jsdl/posix" 
       class = "eu.geclipse.jsdl.posix.PosixPackage"
       genModel = "model/jsdl.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="posix" 
       class="eu.geclipse.jsdl.posix.util.PosixResourceFactoryImpl" />
  </extension>

</plugin>

