<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="eu.geclipse.jsdl.jsdlCreator"
         name="JSDL Creator"
         point="eu.geclipse.core.gridElementCreator">
      <creator
            class="eu.geclipse.jsdl.JSDLJobDescriptionCreator"
            id="eu.geclipse.jsdl.creator"
            name="JSDL - Job Submission Description Language (OGF Standard)">
         <source
               class="org.eclipse.core.resources.IFile"
               pattern=".*\.jsdl">
         </source>
         <target
               class="eu.geclipse.jsdl.JSDLJobDescription"
               name="JSDL Job Description">
         </target>
      </creator>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="Cannot create XPath query"
            id="eu.geclipse.jsdl.problem.createXPathQueryFailed">
      </problem>
      <problem
            description="Sweep extension in JSDL has wrong syntax"
            id="eu.geclipse.jsdl.problem.sweepExtensionSyntaxError">
      </problem>
      <problem
            description="Cannot save generated JSDL"
            id="eu.geclipse.jsdl.problem.saveGeneratedJsdlFailed">
      </problem>
      <problem
            description="Cannot delete existing forlder"
            id="eu.geclipse.jsdl.problem.deleteExistingFolderFailed">
      </problem>
      <problem
            description="Cannot create folder"
            id="eu.geclipse.jsdl.problem.createFolderFailed">
      </problem>
      <problem
            description="Cannot query nodes in XML document"
            id="eu.geclipse.jsdl.problem.getXpathNodesFailed">
      </problem>
      <problem
            description="Sweep parameters defined on the same level doesn&apos;t contain the same number of values."
            id="eu.geclipse.jsdl.problem.wrongNumberValues">
      </problem>
   </extension>

</plugin>
