<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="eu.geclipse.ui.authTokenUI">
      <wizard
            class="eu.geclipse.aws.s3.ui.internal.wizards.AwsCredentialWizard"
            id="eu.geclipse.aws.s3.ui.wizards.AwsCredentialWizard"
            icon="icons/obj16/credential.gif"
            name="AWS Credential">
      </wizard>
      <factory
            class="eu.geclipse.aws.s3.ui.internal.AwsCredentialUIFactory"
            id="eu.geclipse.aws.s3.ui.awsCredentialUIFactory"
            name="AWS Credential UI Factory">
      </factory>
   </extension>
   <extension
         point="eu.geclipse.ui.efs">
      <filesystem
            scheme="s3"
            validator="eu.geclipse.aws.s3.ui.internal.S3TokenValidator">
         <hierarchical
               authority="Access Key ID"
               path="Bucket Name">
         </hierarchical>
      </filesystem>
   </extension>

</plugin>
