<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="eu.geclipse.ui.efs">
      <filesystem
            scheme="s3"
            validator="eu.geclipse.aws.s3.ui.internal.S3TokenValidator">
         <hierarchical
               path="Bucket Name"
               authority="AWS access id">
         </hierarchical>
      </filesystem>
   </extension>
   <extension
         point="eu.geclipse.ui.propertiesFactory">
      <PropertiesFactory
            class="eu.geclipse.aws.s3.ui.properties.S3PropertiesFactory"
            id="eu.geclipse.aws.s3.ui.properties.propertiesFactory"
            sourceObjectClass="eu.geclipse.core.model.IGridStorage">
      </PropertiesFactory>
   </extension>
   <extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.s3.ui.action.objectContribution.createBucket"
			objectClass="eu.geclipse.core.model.IGridResourceContainer">
			<action
				class="eu.geclipse.aws.s3.ui.actions.CreateBucketAction"
				enablesFor="1"
				id="eu.geclipse.aws.s3.ui.actions.createBucket"
				label="Create Bucket...">
			</action>
			<enablement>
				<test
					property="eu.geclipse.core.resourceCategory"
					value="eu.geclipse.aws.storage.s3">
				</test>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.s3.ui.action.objectContribution.deleteS3Bucket"
			objectClass="eu.geclipse.aws.s3.S3BucketStorage">
			<action
				class="eu.geclipse.aws.s3.ui.actions.DeleteBucketAction"
				enablesFor="+"
				id="eu.geclipse.aws.s3.ui.actions.deleteS3Bucket"
				label="Delete Bucket">
			</action>
		</objectContribution>
	</extension>
</plugin>
