<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="dropDownEntry" name="%extension-point.dropDownEntry" schema="schema/dropDownEntry.exsd"/>
   <extension-point id="newTerminalWizards" name="%extension-point.newTerminalWizards" schema="schema/newTerminalWizards.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Terminal"
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.terminal.internal.preferences.TerminalPreferencePage"
            id="eu.geclipse.terminal.internal.preferences.TerminalPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.geclipse.terminal.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="%view.name.0"
            icon="icons/eview16/terminal.gif"
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.terminal.internal.TerminalView"
            id="eu.geclipse.terminal.views.TerminalView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="eu.geclipse.ui.gEclipsePerspective">
         <view
               closeable="true"
               id="eu.geclipse.terminal.views.TerminalView"
               moveable="true"
               ratio="1.0"
               relationship="stack"
               relative="eu.geclipse.ui.gEclipsePerspective.main"
               showTitle="true"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
	  <themeElementCategory
       id="eu.geclipse.terminal.ThemeCategory"
       label="%themeElementCategory.label.0"/>
      <colorDefinition 
        id="eu.geclipse.terminal.ForgroundColor"
        categoryId="eu.geclipse.terminal.ThemeCategory"
        label="%colorDefinition.label.0"
        value="COLOR_GRAY">
        <description>
        %colorDefinition.description.0
        </description>
      </colorDefinition>
      <colorDefinition 
        id="eu.geclipse.terminal.BackgroundColor"
        categoryId="eu.geclipse.terminal.ThemeCategory"
        label="%colorDefinition.label.1"
        value="COLOR_BLACK">
        <description>
        %colorDefinition.description.1
        </description>
      </colorDefinition>
      <fontDefinition
        id="eu.geclipse.terminal.TextFont"
        categoryId="eu.geclipse.terminal.ThemeCategory"        
        label="%fontDefinition.label.0"
        defaultsTo="org.eclipse.jface.textfont">
        <description>
        %fontDefinition.description.0
        </description>
      </fontDefinition>
   </extension>
</plugin>
