<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="eu.geclipse.core.gridElementCreator" 
         id="eu.geclipse.aws.ec2.service.ec2ServiceCreator">
      <creator
            class="eu.geclipse.aws.ec2.service.EC2ServiceCreator"
            name="%ec2ServiceCreator.service.name"
            id="eu.geclipse.aws.ec2.service.ec2ServiceCreator">
         <target
               class="eu.geclipse.aws.IAWSService"
               name="AWS Service">
         </target>
         <source class="java.net.URL" pattern="%ec2ServiceCreator.source.pattern" default="true">
         </source>
      </creator>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="%problem.auth.authFailed.description"
            id="eu.geclipse.aws.ec2.problem.auth.authFailed">
			<reference
				referenceID="eu.geclipse.aws.ec2.solution.auth.authFailed.falseEC2Url.description">
			</reference>
			<reference
         		referenceID="eu.geclipse.aws.solution.auth.authFailed.falseAWSCredentials">
			</reference>            
      </problem>
      <problem
            description="%problem.net.ec2.error.description"
            id="eu.geclipse.aws.ec2.problem.net.ec2">
            <reference
				referenceID="eu.geclipse.aws.ec2.solution.auth.authFailed.falseEC2Url.description">
			</reference>
			<reference
         		referenceID="eu.geclipse.aws.solution.auth.authFailed.falseAWSCredentials">
			</reference>            
      </problem>
      <solution 
            description="%solution.auth.authFailed.falseEC2Url.description"
            id="eu.geclipse.aws.ec2.solution.auth.authFailed.falseEC2Url.description">
      </solution>
            <solution 
            description="%solution.auth.authFailed.falseAWSCredentials.description"
            id="eu.geclipse.aws.solution.auth.authFailed.falseAWSCredentials">
      </solution>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="eu.geclipse.aws.ec2.launch.EC2LaunchConfigurationDelegate"
            id="eu.geclipse.aws.ec2.launch.ec2LaunchConfigurationType"
            modes="run, debug"
            name="Amazon EC2">
      </launchConfigurationType>
   </extension>
   <extension
         point="eu.geclipse.core.gridResourceCategory">
      <category
            id="eu.geclipse.aws.ec2.images"
            name="%category.images"
            parent="eu.geclipse.aws.service"
            active="false">
      </category>
      <category
            id="eu.geclipse.aws.ec2.images.allImages"
            name="%category.images.all"
            parent="eu.geclipse.aws.ec2.images">
      </category>
      <category
            id="eu.geclipse.aws.ec2.images.myOwned"
            name="%category.images.myOwned"
            parent="eu.geclipse.aws.ec2.images">
      </category>
      <category
            id="eu.geclipse.aws.ec2.images.myAccessible"
            name="%category.images.myAccessible"
            parent="eu.geclipse.aws.ec2.images">
      </category>
      <category
            id="eu.geclipse.aws.ec2.securityGroups"
            name="%category.securityGroups"
            parent="eu.geclipse.aws.service">
      </category>
      <category
            id="eu.geclipse.aws.ec2.keypairs"
            name="%category.keypairs"
            parent="eu.geclipse.aws.service">
      </category>
	  <category
            id="eu.geclipse.aws.ec2.elasticIP"
            name="%category.elasticIP"
            parent="eu.geclipse.aws.service">
      </category>
   </extension>
</plugin>
