<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eu.geclipse.core.jobs.jobStatus" name="GridJobID" schema="schema/eu.geclipse.core.jobs.jobStatus.exsd"/>
   <extension-point id="eu.geclipse.core.jobs.jobID" name="GridJobStatus" schema="schema/eu.geclipse.core.jobs.jobID.exsd"/>
   <extension
         id="eu.geclipse.grid.GridJobCreator"
         name="Grid Job"
         point="eu.geclipse.core.gridElementCreator">
      <creator
            class="eu.geclipse.core.jobs.GridJobCreator"
            id="eu.geclipse.core.jobs.gridJobCreator"
            name="Grid Job Creator">
         <source
               class="org.eclipse.core.resources.IFolder"
               matcher="eu.geclipse.core.jobs.GridJobCreator">
         </source>
         <target
               class="eu.geclipse.core.jobs.GridJob"
               name="Grid Job">
         </target>
      </creator>
      <creator
            class="eu.geclipse.core.jobs.internal.ParametricJobServiceCreator"
            id="eu.geclipse.core.jobs.ParametricJobServiceCreator"
            name="Parametric job service creator">
         <source
               class="eu.geclipse.core.jobs.internal.ParametricJobID">
         </source>
         <target
               class="eu.geclipse.core.jobs.ParametricJobService"
               name="Parametric Job Service">
         </target>
      </creator>
   </extension>
   <extension
         point="eu.geclipse.core.jobs.jobID">
      <JobID
            class="eu.geclipse.core.jobs.internal.ParametricJobID">
      </JobID>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="Cannot delete temporary folder for generated jsdl"
            id="eu.geclipse.core.jobs.problem.cleanupSubmissionFailed">
      </problem>
      <problem
            description="Cannot obtain list of input/output stagers"
            id="eu.geclipse.core.jobs.problem.getStagersFailed">
      </problem>
      <problem
            description="Cannot delete jsdl from Job Description Queue"
            id="eu.geclipse.core.jobs.problem.deleteGeneratedJsdlFailed">
      </problem>
      <problem
            description="Unsupported operation"
            id="eu.geclipse.core.jobs.problem.unsupportedOperation">
      </problem>
      <problem
            description="Cannot create xml document"
            id="eu.geclipse.core.jobs.problem.xmlCreateFailed">
      </problem>
      <problem
            description="Unable to transform xml document to string"
            id="eu.geclipse.core.jobs.problem.xml2StringFailed">
      </problem>
      <problem
            description="Unable to tranform string to xml document"
            id="eu.geclipse.core.jobs.problem.string2XmlFailed">
      </problem>
   </extension>
   <extension
         point="eu.geclipse.core.jobs.jobStatus">
      <JobStatus
            class="eu.geclipse.core.jobs.internal.ParametricJobStatus">
      </JobStatus>
   </extension>

</plugin>
