<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.geclipse.traceview.preferences.TraceViewPreferencesPage"
            class="eu.geclipse.traceview.otf.ui.preferences.PreferencePage"
            id="eu.geclipse.traceview.otf.OTFPreferencesPage"
            name="OTF Trace Reader">
      </page>
   </extension>
   <extension
            point="eu.geclipse.traceview.EventMarker">
      <MarkerClass
            class="eu.geclipse.traceview.otf.ui.markers.OTFEventMarker"
            traceClass="eu.geclipse.eventgraph.tracereader.otf.OTFReader"
            defaultEnabled="false"
            id="eu.geclipse.traceview.otf.OTFEventMarker"
            label="OTF Event Marker"
            priority="100">
      </MarkerClass>
   </extension>
</plugin>
