<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="newVoWizards" name="eu.geclipse.ui.newVoWizards" schema="schema/newVoWizards.exsd"/>
   <extension-point id="propertiesFactory" name="propertiesFactory" schema="schema/PropertiesFactory.exsd"/>
   <extension-point id="eu.geclipse.ui.efs" name="EFS UI Contributions" schema="schema/eu.geclipse.ui.efs.exsd"/>
   <extension-point id="authTokenUI" name="Authentication Token UI Contributions" schema="schema/authTokenUI.exsd"/>
   <extension-point id="eu.geclipse.ui.jobDetailsFactory" name="eu.geclipse.ui.jobDetailsFactory" schema="schema/eu.geclipse.ui.jobDetailsFactory.exsd"/>
   <extension-point id="simpleTestUI" name="Simple Test UI Contributions" schema="schema/simpleTestUI.exsd"/>
   <extension-point id="wizardExtension" name="Wizard Extension" schema="schema/wizardExtension.exsd"/>
   <extension-point id="deploymentWizard" name="eu.geclipse.ui.deploymentWizard" schema="schema/deploymentWizard.exsd"/>
   <extension-point id="uninstallWizard" name="eu.geclipse.ui.uninstallWizard" schema="schema/uninstallWizard.exsd"/>
   <extension-point id="eu.geclipse.ui.visualisationWindow" name="Visualisation Window" schema="schema/visualisationWindow.exsd"/>
   <extension-point id="eu.geclipse.ui.visualisationaction" name="Visualisation Action" schema="schema/visualisationaction.exsd"/>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.geclipse.ui.visualisation.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="eu.geclipse.ui.decorators.GridJobDecorator"
            id="eu.geclipse.ui.gridJobDecorator"
            label="Grid Job Decorator"
            lightweight="true"
            state="true">
         <description>
            RSL Decorator
         </description>
         <enablement>
            <objectClass
                  name="eu.geclipse.core.jobs.GridJob">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="false"
            class="eu.geclipse.ui.decorators.GridProjectFolderDecorator"
            id="eu.geclipse.ui.gridProjectFolderDecorator"
            label="Grid Project Folder Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="eu.geclipse.core.model.IGridContainer">
            </objectClass></enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="eu.geclipse.core.project.GridProjectNature"
            icon="icons/ovr16/project_ovr.gif"
            id="eu.geclipse.ui.NatureImage"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eu.geclipse.ui.newResourceCategory"
            name="%category.name.0"/>
      <wizard
            canFinishEarly="true"
            category="eu.geclipse.ui.newResourceCategory"
            class="eu.geclipse.ui.wizards.NewGridProjectWizard"
            finalPerspective="eu.geclipse.ui.gEclipsePerspective"
            hasPages="true"
            icon="icons/etool16/newgridprj_wiz.gif"
            id="eu.geclipse.ui.wizards.gridProjectWizard"
            name="%wizard.gridProject"
            preferredPerspectives="eu.geclipse.ui.gEclipsePerspective"
            project="true">
         <description>
            %wizard.gridProject.createProject
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="eu.geclipse.ui.newResourceCategory"
            class="eu.geclipse.ui.wizards.ConnectionWizard"
            finalPerspective="eu.geclipse.ui.gEclipsePerspective"
            hasPages="true"
            icon="icons/etool16/newconn_wiz.gif"
            id="eu.geclipse.ui.wizards.connectionWizard"
            name="%wizard.gridConnection"
            preferredPerspectives="eu.geclipse.ui.gEclipsePerspective">
         <description>
            %wizard.gridConnection.createFS
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.geclipse.ui.internal.UserPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/guser_pers.gif"
            id="eu.geclipse.ui.userPerspective"
            name="%perspective.user.name"/>
      <perspective
            class="eu.geclipse.ui.internal.OperatorPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/goperator_pers.gif"
            id="eu.geclipse.ui.operatorPerspective"
            name="%perspective.operator.name"/>
      <perspective
            class="eu.geclipse.ui.internal.DeveloperPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/gdeveloper_pers.gif"
            id="eu.geclipse.ui.developerPerspective"
            name="%perspective.developer.name"/>
      <perspective
            class="eu.geclipse.ui.internal.GridExplorerPerspective"
            fixed="false"
            icon="icons/eview16/gexplorer_pers.gif"
            id="eu.geclipse.ui.explorerPerspective"
            name="%perspective.explorer.name"/>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            id="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            name="%preferences.name.geclipse"/>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.VoPreferencePage"
            id="eu.geclipse.ui.internal.preference.VOPreferencePage"
            name="%preferences.name.vodeclarations"/>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.CaCertPreferencePage"
            id="eu.geclipse.ui.internal.preference.CaCertPreferencePage"
            name="%page.caCertificates"/>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.JobUpdatersPreferencePage"
            id="eu.geclipse.ui.internal.preference.JobsPreferencePage"
            name="%page.jobUpdates"/>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.PerspectivePreferencePage"
            id="eu.geclipse.ui.internal.preference.PerspectivePreferencePage"
            name="%page.perspectives">
      </page>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.visualisation.preferences.VisualisationPreferencePage"
            id="eu.geclipse.ui.visualisation.preferences.VisualisationPreferencePage"
            name="%page.visualisation">
      </page>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.SecurityPreferencePage"
            id="eu.geclipse.ui.internal.preference.securityPreferencePage"
            name="Security">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="false"
            class="eu.geclipse.ui.properties.GridProjectFoldersPropertiesPage"
            id="eu.geclipse.ui.gridProjectFolders"
            name="Grid Project Folders">
         <filter
               name="nature"
               value="eu.geclipse.core.project.GridProjectNature">
         </filter>
      </page>
      <page
            adaptable="false"
            class="eu.geclipse.ui.properties.GridConnectionPropertiesPage"
            id="eu.geclipse.ui.gridConnections"
            name="Grid Connections">
         <enabledWhen>
            <test
                  property="eu.geclipse.core.isGridConnection">
            </test>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.geclipse.ui.viewcategory"
            name="%category.name.0"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.AuthTokenView"
            id="eu.geclipse.ui.views.authenticationTokenView"
            name="%view.authenticationToken"
            icon="icons/eview16/authtokens.gif"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridProjectView"
            icon="icons/eview16/gridprojects.gif"
            id="eu.geclipse.ui.views.gridProjectView"
            name="%view.gridProject"/>
      <view
            allowMultiple="true"
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridConnectionView"
            icon="icons/eview16/connections.gif"
            id="eu.geclipse.ui.views.connectionView"
            name="Connections"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridJobView"
            icon="icons/eview16/jobs.gif"
            id="eu.geclipse.ui.views.jobView"
            name="Jobs"/>
      <view
            allowMultiple="false"
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.jobdetails.JobDetailsView"
            icon="icons/job.gif"
            id="eu.geclipse.ui.views.jobdetails.JobDetailsView"
            name="%view.jobDetails"/>
<!--      <view
            allowMultiple="true"
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.ProcessStatView"
            icon="icons/job.gif"
            id="eu.geclipse.ui.views.ProcessStatView"
            name="Process Status Viewer"/>  -->
   </extension>
   <extension
         point="eu.geclipse.core.authTokenProvider">
      <provider
            class="eu.geclipse.ui.UIAuthTokenProvider"
            priority="999">
      </provider>
   </extension>
   <extension
         point="eu.geclipse.core.gridProjectFolder">
      <folder
            elementClass="eu.geclipse.core.model.IGridJob"
            icon="icons/ovr16/job_ovr.gif"
            id="eu.geclipse.core.projectfolder.jobs"
            label="Jobs"
            name="Grid Job Folder"
            preset="true">
      </folder>
      <folder
            elementClass="eu.geclipse.core.model.IGridJobDescription"
            icon="icons/ovr16/jsdl_file_ovr.gif"
            id="eu.geclipse.core.projectfolder.jobdescriptions"
            label="Job Descriptions"
            name="Grid Job Description Folder"
            preset="true">
      </folder>
      <folder
            elementClass="eu.geclipse.core.model.IGridConnection"
            icon="icons/ovr16/connection_ovr.gif"
            id="eu.geclipse.core.projectfolder.connections"
            label="Connections"
            name="Grid Connection Folder"
            preset="true">
      </folder>
      <folder
            elementClass="eu.geclipse.workflow.IGridWorkflowDescription"
            icon="icons/ovr16/connection_ovr.gif"
            id="eu.geclipse.core.projectfolder.workflows"
            label="Workflows"
            name="Workflows Folder"
            preset="true">
      </folder>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <solution
            description="Show Cheatsheet Solver"
            id="cheatsheetTag"
            solver="eu.geclipse.ui.problems.ShowCheatsheetSolver">
      </solution>
      <solution
            description="Show Help Page Solver"
            id="helpTag"
            solver="eu.geclipse.ui.problems.ShowHelpPageSolver">
      </solution>
      <solution
            description="Show Preference Page Solver"
            id="preferenceTag"
            solver="eu.geclipse.ui.problems.ShowPreferencePageSolver">
      </solution>
      <solution
            description="Open URL Solver"
            id="urlTag"
            solver="eu.geclipse.ui.problems.OpenUrlSolver">
      </solution>
      <solution
            description="Show View Solver"
            id="viewTag"
            solver="eu.geclipse.ui.problems.ShowViewSolver">
      </solution>
      <solution
            description="Show Wizard Page Solver"
            id="wizardTag"
            solver="eu.geclipse.ui.problems.ShowWizardPageSolver">
      </solution>
      <problem
            description="Entered Date has invalid format"
            id="eu.geclipse.problem.widget.DateTimeText.WrongFormat">
         <reference
               referenceID="eu.geclipse.solution.widget.DateTimeText.UseCalendarButton">
         </reference>
      </problem>
      <solution
            description="Delete entered Date"
            id="eu.geclipse.solution.widget.DateTimeText.DeleteValue">
      </solution>
      <solution
            description="Enter date in correct format"
            id="eu.geclipse.solution.widget.DateTimeText.UseCorrectFormat">
      </solution>
      <problem
            description="Cannot remove job resources from local workspace"
            id="eu.geclipse.problem.deleteGridElementAction.cannotDeleteResource">
      </problem>
      <problem
            description="The number of opened tabs exceeded the allowed maximum."
            id="eu.geclipse.ui.reachedMaximumAllowedOpenedTabsProblem">
         <reference
               referenceID="eu.geclipse.ui.closeTabSolution">
         </reference>
         <reference
               referenceID="eu.geclipse.ui.allowRedrawInTheSameTabSolution">
         </reference>
      </problem>
      <solution
            description="Close the currently opened tab"
            id="eu.geclipse.ui.closeTabSolution">
      </solution>
      <solution
            description="Allow redrawing into the currently opened tab"
            id="eu.geclipse.ui.allowRedrawInTheSameTabSolution">
      </solution>
      <problem
            description="Selected source and target is the same. File cannot overwrite itself."
            id="eu.geclipse.ui.problem.fileCannotOverwriteItself">
      </problem>
      <problem
            description="Transfer operation failed"
            id="eu.geclipse.ui.problem.tranfserOperationFailed">
      </problem>
   </extension>
   <extension
         point="eu.geclipse.ui.efs">
      <filesystem
            scheme="file">
         <opaque
               scheme-specific-part="Local Directory">
         </opaque>
      </filesystem>
   </extension>
   <extension
         point="eu.geclipse.ui.jobDetailsFactory">
            <JobDetailsFactory
            class="eu.geclipse.ui.views.jobdetails.GridJobDetailsFactory"
            id="eu.geclipse.ui.views.jobdetails.GridJobDetailsFactory"
            sourceJobClass="eu.geclipse.core.model.IGridJob"/>
   </extension>
   <extension
         point="eu.geclipse.ui.newVoWizards">
      <wizard
            class="eu.geclipse.ui.wizards.GenericVoWizard"
            icon="icons/obj16/vo_obj.gif"
            id="eu.geclipse.ui.wizards.GenericVoWizard"
            name="Generic VO">
      </wizard>
   </extension>
   <extension
         point="eu.geclipse.ui.propertiesFactory">
      <PropertiesFactory
            class="eu.geclipse.ui.properties.PropertiesFactory"
            id="eu.geclipse.ui.properties.PropertiesFactory"
            sourceObjectClass="java.lang.Object"/>
   </extension>
   <extension
         point="eu.geclipse.ui.simpleTestUI">
      <factory
            class="eu.geclipse.ui.simpleTest.DNSLookUpUIFactory"
            id="eu.geclipse.ui.simpleTest.dnsLookUpUIFactory"
            name="DNS LookUp UI Factory">
      </factory>
      <factory
            class="eu.geclipse.ui.simpleTest.ReachabilityTestUIFactory"
            id="eu.geclipse.ui.simpleTest.reachabilityTestUIFactory"
            name="Reachability Test UI Factory">
      </factory>
      <factory
            class="eu.geclipse.ui.simpleTest.PortScanUIFactory"
            id="eu.geclipse.ui.simpleTest.PortScanUIFactory"
            name="Port Scan UI Factory">
      </factory>
   </extension>
   <extension
         point="eu.geclipse.core.certificateTrustVerifier">
      <verifier
            class="eu.geclipse.ui.internal.UICertificateTrustVerifier"
            id="eu.geclipse.ui.certificateTrustVerifier">
      </verifier>
   </extension>
</plugin>
