<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eu.geclipse.ui.authTokenUI" 
   	name="%extension-point.name.authenticationToken" 
   	schema="schema/eu.geclipse.ui.AuthTokenUIFactory.exsd"/>
   <extension-point id="eu.geclipse.ui.connectionWizard" 
   	name="%extension-point.name.connectionWizard" 
   	schema="schema/eu.geclipse.ui.connection.connectionWizard.exsd"/>
   <extension-point id="newVoWizards" name="eu.geclipse.ui.newVoWizards" schema="schema/newVoWizards.exsd"/>
   <extension-point id="jobSubmissionWizard" name="jobSubmissionWizard" schema="schema/jobSubmissionWizard.exsd"/>
   <extension-point id="eu.geclipse.ui.jsdlApplicationParameters" name="jsdlApplicationParameters" schema="schema/jsdlApplicationParameters.exsd"/>
   <extension-point id="propertiesFactory" name="propertiesFactory" schema="schema/PropertiesFactory.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            id="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            name="%preferences.name.geclipse"/>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.VoPreferencePage"
            id="eu.geclipse.ui.internal.preference.VOPreferencePage"
            name="%preferences.name.vodeclarations"/>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.CaCertPreferencePage"
            id="eu.geclipse.ui.internal.preference.CaCertPreferencePage"
            name="%page.caCertificates"/>
      <page
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.ui.internal.preference.NetworkPreferencePage"
            id="eu.geclipse.ui.internal.preference.NetworkPreferencePage"
            name="%page.network"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.geclipse.ui.viewcategory"
            name="%category.name.0"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.AuthTokenView"
            id="eu.geclipse.ui.views.authenticationTokenView"
            name="%view.authenticationToken"
            icon="icons/eview16/authtokens.gif"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridProjectView"
            icon="icons/eview16/gridprojects.gif"
            id="eu.geclipse.ui.views.gridProjectView"
            name="%view.gridProject"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.gexplorer.GExplorerView"
            id="eu.geclipse.ui.views.gExplorer"
            name="%view.gExplorer"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridJobView"
            icon="icons/eview16/jobs.gif"
            id="eu.geclipse.ui.views.jobView"
            name="Jobs"/>
      <view
            allowMultiple="true"
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridConnectionView"
            id="eu.geclipse.ui.views.connectionView"
            name="Connections"/>
      <view
            allowMultiple="true"
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridJobDetailsView"
            id="eu.geclipse.ui.views.GridJobDetailsView"
            name="%view.jobDetails"/>
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.ui.views.GridTransferView"
            id="eu.geclipse.ui.views.transferView"
            name="Transfers"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="eu.geclipse.ui.internal.UserPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/guser_pers.gif"
            id="eu.geclipse.ui.userPerspective"
            name="%perspective.user.name"/>
      <perspective
            class="eu.geclipse.ui.internal.OperatorPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/goperator_pers.gif"
            id="eu.geclipse.ui.operatorPerspective"
            name="%perspective.operator.name"/>
      <perspective
            class="eu.geclipse.ui.internal.DeveloperPerspectiveFactory"
            fixed="false"
            icon="icons/eview16/gdeveloper_pers.gif"
            id="eu.geclipse.ui.developerPerspective"
            name="%perspective.developer.name"/>
      <perspective
            class="eu.geclipse.ui.internal.GridExplorerPerspective"
            fixed="false"
            icon="icons/eview16/gexplorer_pers.gif"
            id="eu.geclipse.ui.gridExplorerPerspective"
            name="%perspective.explorer.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="eu.geclipse.ui.newResourceCategory"
            name="%category.name.0"/>
      <wizard
            canFinishEarly="false"
            category="eu.geclipse.ui.newResourceCategory"
            class="eu.geclipse.ui.wizards.jobs.NewJobWizard"
            finalPerspective="eu.geclipse.ui.gEclipsePerspective"
            hasPages="true"
            icon="icons/etool16/newjob_wiz.gif"
            id="eu.geclipse.ui.wizards.gridJobWizard"
            name="%wizard.gridJob"
            preferredPerspectives="eu.geclipse.ui.gEclipsePerspective">
         <description>
            %wizard.gridJob.createJobDescription
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="eu.geclipse.ui.newResourceCategory"
            class="eu.geclipse.ui.wizards.NewGridProjectWizard"
            finalPerspective="eu.geclipse.ui.gEclipsePerspective"
            hasPages="true"
            icon="icons/etool16/newgridprj_wiz.gif"
            id="eu.geclipse.ui.wizards.gridProjectWizard"
            name="%wizard.gridProject"
            preferredPerspectives="eu.geclipse.ui.gEclipsePerspective"
            project="true">
         <description>
            %wizard.gridProject.createProject
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="eu.geclipse.ui.newResourceCategory"
            class="eu.geclipse.ui.wizards.connection.ConnectionWizard"
            finalPerspective="eu.geclipse.ui.gEclipsePerspective"
            hasPages="true"
            icon="icons/etool16/newconn_wiz.gif"
            id="eu.geclipse.ui.wizards.connectionWizard"
            name="%wizard.gridConnection"
            preferredPerspectives="eu.geclipse.ui.gEclipsePerspective">
         <description>
            %wizard.gridConnection.createFS
         </description>
      </wizard>
   </extension>
   <extension
         id="eu.geclipse.ui.tokenProvider"
         name="%extension.name.0"
         point="eu.geclipse.core.authenticationTokenManagement">
      <provider
            class="eu.geclipse.ui.UIAuthTokenProvider"
            priority="999"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.geclipse.ui.editors.JobDescriptionEditor"
            default="true"
            extensions="jsdl"
            icon="icons/obj16/jsdl_file_obj.gif"
            id="eu.geclipse.ui.jobdescriptioneditor"
            name="%editor.gridJobDescriptionEditor"/>
 	  <editor
            name="JSDL Multi-Page Editor"
            extensions="jsdl"
            icon="icons/jsdlfile.gif"
            class="eu.geclipse.ui.editors.JsdlMultiPageEditor"
            id="eu.geclips.jsdl.multiedit.editors.JsdlMultiPageEditor"/>      
      <editor
            class="eu.geclipse.ui.editors.JobEditor"
            default="true"
            extensions="glitejob,globusjob"
            icon="icons/obj16/job_file_obj.gif"
            id="eu.geclipse.ui.JobEditor"
            name="%editor.JobEditor"/>
   </extension>  
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            natureId="eu.geclipse.core.project.GridProjectNature"
            icon="icons/ovr16/project_ovr.gif"
            id="eu.geclipse.ui.NatureImage"/>
   </extension>
   <extension
         point="eu.geclipse.ui.connectionWizard">
      <wizard
            class="eu.geclipse.ui.wizards.connection.managers.gridftp.GridFTPConnectionWizard"
            id="eu.geclipse.ui.wizards.connection.managers.gridftp.GridFTPConnectionWizard"
            name="GridFTP"
            icon="icons/gridftp.gif"/>
      <wizard
            class="eu.geclipse.ui.wizards.connection.managers.srm.SRMConnectionWizard"
            id="eu.geclipse.ui.connection.managers.srm.SRMConnectionWizard"
            name="SRM"/>
   </extension>
   <extension
         point="eu.geclipse.ui.connectionWizard">
      <wizard
            class="eu.geclipse.ui.wizards.connection.managers.local.LocalConnectionWizard"
            id="eu.geclipse.ui.wizards.connection.managers.local.LocalConnectionWizard"
            name="Local"
            icon="icons/local.gif"/>
   </extension>
   <extension
         id="eu.geclipse.ui.problemProvider"
         name="UIProblems"
         point="eu.geclipse.core.problemProvider">
      <provider class="eu.geclipse.ui.UIProblems"/>
   </extension>
   <extension
         point="eu.geclipse.ui.propertiesFactory">
      <PropertiesFactory
            class="eu.geclipse.ui.properties.PropertiesFactory"
            id="eu.geclipse.ui.properties.PropertiesFactory"
            sourceObjectClass="java.lang.Object"/>
   </extension>
</plugin>
