<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem scheme="s3">
         <run
               class="eu.geclipse.aws.s3.internal.fileSystem.S3FileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="eu.geclipse.core.gridElementCreator" 
         id="eu.geclipse.aws.s3.service.s3AWSServiceCreator">
      <creator
            class="eu.geclipse.aws.s3.service.S3AWSServiceCreator"
            name="%s3ServiceCreator.service.name"
            id="eu.geclipse.aws.s3.service.s3AWSServiceCreator">
         <target
               class="eu.geclipse.aws.IAWSService"
               name="AWS Service">
         </target>
         <source class="java.net.URL" pattern="%s3ServiceCreator.source.pattern" default="true">
         </source>
      </creator>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="Failed to create the Rest-Service to access S3"
            id="eu.geclipse.aws.problem.service.s3.rest.creationFailed">
      </problem>
      <problem
            description="Error while listing children"
            id="eu.geclipse.aws.problem.s3.listFailed">
      </problem>
      <problem
            description="Error while opening object for reading"
            id="eu.geclipse.aws.problem.s3.inputFailed">
      </problem>
      <problem
            description="Error while loading an object"
            id="eu.geclipse.aws.problem.s3.objectLoadFailed">
      </problem>
      <problem
            description="Error while opening object for writing"
            id="eu.geclipse.aws.problem.s3.outputFailed">
      </problem>
      <problem
            description="Error while deleting object"
            id="eu.geclipse.aws.problem.s3.deleteFailed">
      </problem>
      <problem
            description="Bucket creation failed. Note that bucket names have to be unique. Therefore it is recommended to prefix them with the access key ID."
            id="eu.geclipse.aws.problem.s3.bucketCreateFailed">
      </problem>
      <problem
            description="Bucket creation failed. Note that buckets can not be created within other buckets."
            id="eu.geclipse.aws.problem.s3.bucketInBucketFailed">
      </problem>
   </extension>
</plugin>
