<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="codec" name="GVid Video Codec" schema="schema/codec.exsd"/>
   <extension-point id="newGVidWizards" name="newGVidWizards" schema="schema/newGVidWizards.exsd"/>
   <extension-point id="dropDownEntry" name="GVid connection factory" schema="schema/dropDownEntry.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="GVid"
            category="eu.geclipse.ui.internal.preference.GEclipsePreferencePage"
            class="eu.geclipse.gvid.internal.preferences.GVidPreferencePage"
            id="eu.geclipse.gvid.internal.preferences.GVidPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.geclipse.gvid.internal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="GVid"
            icon="icons/eview16/gvid.gif"
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.gvid.internal.views.GVidView"
            id="eu.geclipse.gvid.views.GVidView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="eu.geclipse.ui.gEclipsePerspective">
         <view
               closeable="true"
               id="eu.geclipse.gvid.views.GVidView"
               moveable="true"
               ratio="1.0"
               relationship="stack"
               relative="eu.geclipse.ui.gEclipsePerspective.main"
               showTitle="true"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="eu.geclipse.core.problemProvider">
      <provider
            class="eu.geclipse.gvid.GVidProblems">
      </provider>
   </extension>
</plugin>
