<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="eu.geclipse.terminal.ssh"
         name="%extension.name.0"
         point="eu.geclipse.terminal.dropDownEntry">
      <dropDownEntry
            class="eu.geclipse.terminal.ssh.internal.SshShell"
            label="SSH"
            icon="icons/obj16/ssh.png"/>
   </extension>
   <extension
         point="eu.geclipse.terminal.newTerminalWizards">
      <wizard
            class="eu.geclipse.terminal.ssh.internal.SSHWizard"
            id="eu.geclipse.terminal.ssh.internal.SSHWizard"
            name="SSH"
            icon="icons/obj16/ssh.png"/>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="Authentification failed"
            id="eu.geclipse.terminal.ssh.problem.auth_failed">
         <reference
               referenceID="eu.geclipse.terminal.ssh.solution.check_username_and_passwd">
         </reference>
      </problem>
      <problem
            description="Did not get SSH service"
            id="eu.geclipse.terminal.ssh.problem.no_ssh_service">
         <reference
               referenceID="eu.geclipse.terminal.ssh.solution.check_install">
         </reference>
      </problem>
      <solution
            description="Check username and password."
            id="eu.geclipse.terminal.ssh.solution.check_username_and_passwd">
      </solution>
      <solution
            description="Check your installation (JSch plugin)."
            id="eu.geclipse.terminal.ssh.solution.check_install">
      </solution>
   </extension>
</plugin>
