<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="batchService" name="Batch Service" schema="schema/batchService.exsd"/>
   <extension-point id="batchServiceProvider" name="Batch Service Provider" schema="schema/batchServiceProvider.exsd"/>
   <extension
         id="eu.geclipse.batch.batchCreator"
         name="Batch creator"
         point="eu.geclipse.core.gridElementCreator">
      <creator
            class="eu.geclipse.batch.BatchConnectionInfoCreator"
            name="Batch Service">
         <target
               class="eu.geclipse.batch.BatchConnectionInfo"
               name="Batch Service Description">
         </target>
      </creator>
      <creator
            class="eu.geclipse.batch.BatchQueueDescriptionCreator"
            name="Batch Queue Configuration">
         <target
               class="eu.geclipse.batch.BatchQueueDescriptionCreator"
               name="Batch Queue Configuration Description">
         </target>
      </creator>
   </extension>
   <extension
         point="eu.geclipse.batch.batchService">
      <service
            description="eu.geclipse.batch.pbs.PBSBatchServiceDescription"
            id="eu.geclipse.batch.pbs"
            name="pbs">
      </service>
   </extension>
   <extension
         point="eu.geclipse.core.reporting.problemReporting">
      <problem
            description="IO error occured during the connection"
            id="eu.geclipse.batch.problem.io_error">
      </problem>
      <problem
            description="The command to the batch service failed"
            id="eu.geclipse.batch.problem.command_failed">
      </problem>
      <problem
            description="Authorization on the remote service failed"
            id="eu.geclipse.batch.problem.no_authorization">
      </problem>
      <problem
            description="Login to the service failed"
            id="eu.geclipse.batch.problem.login_failed">
      </problem>
      <problem
            description="Could not get the ssh service"
            id="eu.geclipse.batch.problem.get_ssh_service_failed">
      </problem>
      <solution
            description="Check the username of password"
            id="eu.geclipse.batch.solution.check_username_password">
      </solution>
      <solution
            description="Check the setting of the ssh service"
            id="eu.geclipse.batch.solution.check_ssh_server_config">
      </solution>
   </extension>

</plugin>
