<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.iGridService"
			objectClass="eu.geclipse.aws.ec2.EC2AMIImage">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.LaunchAMI"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.launchAMI"
				label="Launch AMI...">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.iGridComputing"
			objectClass="eu.geclipse.aws.ec2.EC2Instance">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.TerminateInstance"
				enablesFor="+"
				id="eu.geclipse.aws.ec2.ui.actions.terminateInstance"
				label="Terminate Instance">
			</action>
		</objectContribution>
	</extension>
	<extension
    point="org.eclipse.ui.popupMenus">
    <objectContribution
      id="eu.geclipse.aws.ec2.ui.action.objectContribution.iGridComputing"
      objectClass="eu.geclipse.aws.ec2.EC2Instance">
      <menu id="eu.geclipse.aws.ec2.ui.menu.createconnections"
               label="Create Grid Connection to ..."
               path="additions">
            <separator
                  name="content">
            </separator>
            <separator
                  name="additions">
            </separator>
			</menu>
      <action
        class="eu.geclipse.aws.ec2.ui.actions.CreateConnectionInstance"
        enablesFor="+"
        menubarPath="eu.geclipse.aws.ec2.ui.menu.createconnections/additions"
        id="eu.geclipse.aws.ec2.ui.actions.createConnectionInstance"
        label="EC2 Instance root">
      </action>
       <action
             class="eu.geclipse.aws.ec2.ui.actions.CreateConnectionRepository"
             id="eu.geclipse.aws.ec2.ui.createConnectionrepository"
             label="EC2 Instance Repository"
             menubarPath="eu.geclipse.aws.ec2.ui.menu.createconnections/additions">
       </action>
    </objectContribution>
  </extension>
  <extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.iGridComputing"
			objectClass="eu.geclipse.aws.ec2.EC2Instance">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.CopyHostname"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.copyHostname"
				label="Copy Hostname">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.iGridComputing"
			objectClass="eu.geclipse.aws.ec2.EC2Instance">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.RebootInstances"
				enablesFor="+"
				id="eu.geclipse.aws.ec2.ui.actions.rebootInstance"
				label="Reboot Instance">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.createSecurityGroup"
			objectClass="eu.geclipse.core.model.IGridResourceContainer">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.CreateSecurityGroupAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.createSecurityGroup"
				label="Create Security Group...">
			</action>
			<enablement>
				<test
					property="eu.geclipse.core.resourceCategory"
					value="eu.geclipse.aws.ec2.securityGroups">
				</test>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.createKeypair"
			objectClass="eu.geclipse.core.model.IGridResourceContainer">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.CreateKeypairAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.createKeypair"
				label="Create Keypair...">
			</action>
			<enablement>
				<test
					property="eu.geclipse.core.resourceCategory"
					value="eu.geclipse.aws.ec2.keypairs">
				</test>
			</enablement>
		</objectContribution>
	</extension>
		<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.deleteKeypair"
			objectClass="eu.geclipse.aws.ec2.EC2Keypair">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.DeleteKeypairAction"
				enablesFor="+"
				id="eu.geclipse.aws.ec2.ui.actions.deleteKeypair"
				label="Delete Keypair">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.editSecurityGroup"
			objectClass="eu.geclipse.aws.ec2.EC2SecurityGroup">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.EditSecurityGroup"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.editSecurityGroup"
				label="Edit Security Group...">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.deleteSecurityGroup"
			objectClass="eu.geclipse.aws.ec2.EC2SecurityGroup">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.DeleteSecurityGroup"
				enablesFor="+"
				id="eu.geclipse.aws.ec2.ui.actions.deleteSecurityGroup"
				label="Delete Security Group">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.allocateElasticIP"
			objectClass="eu.geclipse.core.model.IGridResourceContainer">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.AllocateElasticIPAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.allocateElasticIP"
				label="Allocate Elastic IP">
			</action>
			<enablement>
				<test
					property="eu.geclipse.core.resourceCategory"
					value="eu.geclipse.aws.ec2.elasticIP">
				</test>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.associateElasticIP"
			objectClass="eu.geclipse.aws.ec2.EC2Instance">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.AssociateElasticIPAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.associateElasticIP"
				label="Associate Elastic IP Address...">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.disassociateElasticIP"
			objectClass="eu.geclipse.aws.ec2.EC2Instance">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.DisassociateElasticIPAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.disassociateElasticIP"
				label="Disassociate Elastic IP Address">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.releaseElasticIP"
			objectClass="eu.geclipse.aws.ec2.EC2ElasticIPAddress">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.ReleaseElasticIPAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.releaseElasticIP"
				label="Release Elastic IP Address">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.registerImage"
			objectClass="eu.geclipse.core.model.IGridConnectionElement">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.RegisterImageAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.registerImage"
				label="Register Image">
			</action>
			<enablement>
				<test
					property="eu.geclipse.aws.ec2.name"
					value="image.manifest.xml" 
					forcePluginActivation="true">
				</test>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="eu.geclipse.aws.ec2.ui.action.objectContribution.editImageAttributes"
			objectClass="eu.geclipse.aws.ec2.EC2AMIImage">
			<action
				class="eu.geclipse.aws.ec2.ui.actions.EditAMIAttributesAction"
				enablesFor="1"
				id="eu.geclipse.aws.ec2.ui.actions.editImageAttributes"
				label="Edit AMI Attributes...">
			</action>
		</objectContribution>
	</extension>
	<extension
		point="eu.geclipse.ui.propertiesFactory">
		<PropertiesFactory
			class="eu.geclipse.aws.ec2.ui.properties.EC2PropertiesFactory"
			id="eu.geclipse.aws.ec2.ui.properties.propertiesFactory"
			sourceObjectClass="eu.geclipse.core.model.IGridResource">
		</PropertiesFactory>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="eu.geclipse.aws.ec2.launch.ec2LaunchConfigurationType"
			icon="icons/obj16/amazon.gif"
			id="eu.geclipse.aws.ec2.launch.ec2LaunchConfigurationType.image">
		</launchConfigurationTypeImage>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="eu.geclipse.aws.ec2.ui.launch.EC2LaunchConfigurationTabGroup"
			id="eu.geclipse.aws.ec2.ui.launch.ec2LaunchConfigurationTabGroup"
			type="eu.geclipse.aws.ec2.launch.ec2LaunchConfigurationType">
		</launchConfigurationTabGroup>
	</extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="eu.geclipse.aws.ec2.ui.actions.ConnectionElementPropertyTest"
          id="eu.geclipse.aws.ec2.ui.propertyTester.gridConnectionElement"
          namespace="eu.geclipse.aws.ec2"
          properties="name"
          type="eu.geclipse.core.model.IGridConnectionElement">
    </propertyTester>
 </extension>
</plugin>
