<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="gecl">
         <run
               class="eu.geclipse.core.filesystem.GEclipseFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="eu.geclipse.core.gridElementCreator">
      <creator
            class="eu.geclipse.core.filesystem.FileSystemCreator"
            name="File System">
         <source
               class="org.eclipse.core.resources.IResource">
         </source>
         <target
               class="eu.geclipse.core.model.IGridConnection"
               name="Grid Connection">
         </target>
      </creator>
   </extension>

</plugin>
