<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="gecl">
         <run
               class="eu.geclipse.core.filesystem.FileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="eu.geclipse.core.gridElementCreator">
      <creator
            class="eu.geclipse.core.filesystem.FileSystemCreator"
            name="File System">
      </creator>
   </extension>

</plugin>
