<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.geclipse.batch.ui.editors.BatchEditor"
            contributorClass="eu.geclipse.batch.ui.editors.BatchEditorActionBarContributor"
            default="true"
            extensions="batch"
            icon="icons/batchCL16.gif"
            id="eu.geclipse.batch.ui.editors.BatchEditor"
            name="%editor.batchEditor"/>
	<editor
       class="eu.geclipse.batch.ui.editors.QueueEditor"
       default="true"
       extensions="qdl"
       icon="icons/queue16.gif"
       id="eu.geclipse.batch.ui.editors.QueueEditor"
       name="Queue Configuration Editor"/> 
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="eu.geclipse.ui.newResourceCategory"
            class="eu.geclipse.batch.ui.wizards.BatchCreationWizard"
            finalPerspective="eu.geclipse.ui.gEclipsePerspective"
            hasPages="true"
            icon="icons/batchCL16.gif"
            id="eu.geclipse.batch.ui.wizards.BatchCreationWizard"
            name="%wizard.batchService"
            preferredPerspectives="eu.geclipse.ui.gEclipsePerspective"/>            
      <wizard
            canFinishEarly="false"
            category="eu.geclipse.ui.newResourceCategory"
            class="eu.geclipse.batch.ui.wizards.QueueCreationWizard"
            finalPerspective="eu.geclipse.ui.gEclipsePerspective"
            hasPages="true"
            icon="icons/batchCL16.gif"
            id="eu.geclipse.batch.ui.wizards.QueueCreationWizard"
            name="%wizard.newQueueConf"
            preferredPerspectives="eu.geclipse.ui.gEclipsePerspective"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="eu.geclipse.ui.viewcategory"
            name="%category.name.0"/>   
      <view
            category="eu.geclipse.ui.viewcategory"
            class="eu.geclipse.batch.ui.views.BatchJobView"
            id="eu.geclipse.batch.ui.views.BatchJobView"
            name="%view.batchJob"
            icon="icons/batchJobViewCL16.gif"/>
   </extension>
   <extension
         point="eu.geclipse.ui.propertiesFactory">
      <PropertiesFactory
            class="eu.geclipse.batch.ui.properties.BatchPropertiesFactory"
            id="eu.geclipse.batch.ui.properties.BatchPropertiesFactory"
            sourceObjectClass="eu.geclipse.batch.BatchConnectionInfo"/>
   </extension>
   <extension
         point="eu.geclipse.core.gridProjectFolder">
      <folder
            elementClass="eu.geclipse.core.model.IGridSiteConfig"
            icon="icons/ovr16/siteconfig_ovr.gif"
            id="eu.geclipse.core.projectfolder.siteconfig"
            label="Site Configurations"
            name="Grid Site Configuration Folder">
      </folder>
   </extension>
   
	<extension
         id="org.eclipse.core.contenttype.contentTypes"
         name="QDL"
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="qdl"
      />
   </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
       <objectContribution
            id="eu.geclipse.batch.ui.ApplyQueueObjectContribution"
            objectClass="eu.geclipse.batch.IGridBatchQueueDescription">
         <action
               class="eu.geclipse.batch.ui.actions.ApplyQueueConfigurationAction"
               enablesFor="?"
               id="eu.geclipse.batch.ui.actionApplyQueue"
               label="Apply Queue Configuration">
         </action>
      </objectContribution>
 </extension>
</plugin>
